{% extends "admin/base.html" %}

{% block content %}
    <form action="{{ url_for('admin_categories.create') }}" method="POST" class="form form-action w-50 card py-5 px-3">
        {{ form.hidden_tag() }}
        <div class="mb-3 form-group">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
            {% if form.title.errors %}
                <div class="p-2 text-light bg-danger rounded-3 mt-2">
                    {% for error in form.title.errors %}
                        <p class="m-0 p-0 mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}