{% extends "admin/base.html" %}

{% block content %}
    <form class="form form-action w-50 card py-5 px-3" id="form">
        <div class="mb-3 form-group">
            <label for="title" class="form-label">Название</label>
            <input type="text" name="title" id="title" class="form-control" value="{{ category.title }}" required>
        </div>
        <button type="button" class="btn btn-primary" onclick="sendLesson()">Submit</button>
    </form>
<script>
    function sendLesson() {
        const formData = new FormData(document.getElementById("form"));
        const data = Object.fromEntries(formData.entries());
        data["id"] = {{ category.id }};
        const url = "{{ url_for('admin_categories.update') }}";
        fetch(url, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        }).then(response => {
            if (response.ok) {
                window.location.href = '/admin/categories';
            } else {
                alert('Ошибка при обновлении');
            }
        });
    }
</script>
{% endblock %}
