{% extends "admin/base.html" %}

{% block content %}
    <form action="{{ url_for('admin_words.create') }}"  method="POST" class="form form-action w-50 card py-5 px-3">
        {{ form.hidden_tag() }}
        <div class="mb-3 form-group" id="wordContainer">
            {{ form.word.label(class="form-label") }}
            {{ form.word(class="form-control") }}
        </div>
        <div class="mb-3 form-group" id="translationContainer">
            {{ form.translation.label(class="form-label") }}
            {{ form.translation(class="form-control") }}
        </div>
        <div class="mb-3 form-group d-none" id="wordsContainer">
            {{ form.words.label(class="form-label") }}
            {{ form.words(class="form-control") }}
        </div>
        <div class="mb-3 form-group">
            <div class="form-check">
                {{ form.many_rows(class="form-check-input") }}
                {{ form.many_rows.label(class="form-check-label") }}
            </div>
        </div>
        <div class="mb-3 form-group">
            {{ form.lesson.label(class="form-label") }}
            {{ form.lesson(class="form-select") }}
            {% if form.lesson.errors %}
                <div class="p-2 text-light bg-danger rounded-3">
                    {% for error in form.lesson.errors %}
                        <p class="m-0 p-0">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    <script>
        const checkbox = document.getElementById("many_rows");
        const wordContainer = document.getElementById("wordContainer");
        const translationContainer = document.getElementById("translationContainer");
        const wordsAreaContainer = document.getElementById("wordsContainer");
        const word = document.getElementById("word");
        word.setAttribute("required", true);
        const translation = document.getElementById("translation");
        translation.setAttribute("required", true);
        const wordsArea = document.getElementById("words");
        checkbox.addEventListener("click", () => {
        if(!checkbox.checked) {
            console.log("Uncheck");
            wordsAreaContainer.classList.add("d-none");
            wordContainer.classList.remove("d-none");
            translationContainer.classList.remove("d-none");
            wordsArea.removeAttribute("required");
            word.setAttribute("required", true)
            translation.setAttribute("required", true)
        } else {
            console.log("Check")
            wordsAreaContainer.classList.remove("d-none")
            wordContainer.classList.add("d-none");
            translationContainer.classList.add("d-none");
            wordsArea.setAttribute("required", true)
            word.removeAttribute("required");
            translation.removeAttribute("required")
        }
        });
    </script>
{% endblock %}