{% extends "admin/base.html" %}

{% block content %}
    <form method="POST" class="form form-action w-50 card py-5 px-3" id="form">
        {{ form.hidden_tag() }}
        <div class="mb-3 form-group">
            {{ form.word.label(class="form-label") }}
            {{ form.word(class="form-control", value=word.word) }}
            {% if form.word.errors %}
                <div class="p-2 text-light bg-danger rounded-3 mt-2">
                    {% for error in form.word.errors %}
                        <p class="m-0 p-0 mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3 form-group">
            {{ form.translation.label(class="form-label") }}
            {{ form.translation(class="form-control", value=word.translation) }}
            {% if form.translation.errors %}
                <div class="p-2 text-light bg-danger rounded-3 mt-2">
                    {% for error in form.translation.errors %}
                        <p class="m-0 p-0 mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3 form-group">
            {{ form.lesson_id.label(class="form-label") }}
            {{ form.lesson_id(class="form-select") }}
            {% if form.lesson_id.errors %}
                <div class="p-2 text-light bg-danger rounded-3">
                    {% for error in form.lesson_id.errors %}
                        <p class="m-0 p-0">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>

{% endblock %}
