{% extends "admin/base.html" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <a href="{{ url_for('admin_words.get_all') }}" class="fs-4">Все слова</a>
            <p class="fs-3 mt-3">{{ row.word }}</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Аттрибут</td>
                            <td>Значение</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td>{{ row.id }}</td>
                        </tr>
                        <tr>
                            <td>Слово</td>
                            <td>{{ row.word }}</td>
                        </tr>
                        <tr>
                            <td>Перевод</td>
                            <td>{{ row.translation }}</td>
                        </tr>
                        <tr>
                            <td>Урок</td>
                            <td><a href="{{ url_for('admin_lessons.get', id=row.lesson.id) }}">ID: {{ row.lesson.id }} - {{ row.lesson.title }}</a></td>
                        </tr>
                        <tr>
                            <td>CRUD</td>
                            <td class="d-flex gap-3">
                                <a href="{{ url_for('admin_words.edit', id=row.id) }}"><i class="fa-solid fa-pen"></i></a>
                                <button class="text-danger border-0 bg-transparent p-0" onclick="deleteWord({{ row.id }})"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function deleteWord(id) {
            url = "{{ url_for('admin_categories.delete', id='123') }}".replace("123", id);
            fetch(url, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(response => {
                if(response.ok) {
                    alert("Row deleted");
                    window.location.href = '/admin/words';
                } else {
                    alert("Error");
                }
            });
        }
    </script>
{% endblock %}