{% extends "admin/base.html" %}

{% block content %}
    <form action="{{ url_for('admin_lessons.insert') }}"  method="POST" class="form form-action w-50 card py-5 px-3">
        <div class="mb-3 form-group">
            <label for="title" class="form-label">Название</label>
            <input type="text" name="title" id="title" class="form-control" required>
        </div>
        <div class="mb-3 form-group">
            <label for="category" class="form-label">Категория</label>
            <select class="form-select" name="category" id="category" required>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 form-group">
            <label for="level" class="form-label">Сложность</label>
            <select class="form-select" name="level" id="level" required>
                {% for level in levels %}
                    <option value="{{ level.id }}">{{ level.title }}: {{ level.indicator }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}