{% extends "admin/base.html" %}

{% block content %}
    <form class="form form-action w-50 card py-5 px-3" id="form">
        <div class="mb-3 form-group">
            <label for="title" class="form-label">Название</label>
            <input type="text" name="title" id="title" class="form-control" value="{{ lesson.title }}" required>
        </div>
        <div class="mb-3 form-group">
            <label for="category" class="form-label">Категория</label>
            <select class="form-select" name="category" id="category" required>
                <option value="{{ lesson.category }}" selected>{{ lesson.category }}</option>
                <option value="все">Все</option>
                <option value="существительные">Существительные</option>
                <option value="глаголы">Глаголы</option>
                <option value="прилагательные">Прилагательные</option>
                <option value="фразы">Фразы</option>
            </select>
        </div>
        <div class="mb-3 form-group">
            <label for="level" class="form-label">Сложность</label>
            <select class="form-select" name="level" id="level" required>
                <option value="{{ lesson.level }}" selected>{{ lesson.level }}</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary" onclick="sendLesson()">Submit</button>
    </form>
<script>
    function sendLesson() {
        const formData = new FormData(document.getElementById("form"));
        const data = Object.fromEntries(formData.entries());
        data["id"] = {{ lesson.id }};
        const url = "{{ url_for('admin_lessons.update') }}";
        fetch(url, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        }).then(response => {
            if (response.ok) {
                window.location.href = '/admin/lessons';
            } else {
                alert('Ошибка при обновлении');
            }
        });
    }
</script>
{% endblock %}
