{% extends "admin/base.html" %}

{% block content %}
    <form class="form form-action w-50 card py-5 px-3" id="form">
        <div class="mb-3 form-group">
            <label for="title" class="form-label">Название</label>
            <input type="text" name="title" id="title" class="form-control" value="{{ lesson.title }}" required>
        </div>
        <div class="mb-3 form-group">
            <label for="category" class="form-label">Категория</label>
            <select class="form-select" name="category" id="category" required>
                <option value="{{ lesson.category.id }}" selected>{{ lesson.category.title }}</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 form-group">
            <label for="level" class="form-label">Сложность</label>
            <select class="form-select" name="level" id="level" required>
                <option value="{{ lesson.level.id }}" selected>{{ lesson.level.title }}: {{ level.indicator }}</option>
                {% for level in levels %}
                    <option value="{{ level.id }}">{{ level.title }}: {{ level.indicator }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="button" class="btn btn-primary" onclick="sendLesson()">Submit</button>
    </form>
<script>
    function sendLesson() {
        const formData = new FormData(document.getElementById("form"));
        const data = Object.fromEntries(formData.entries());
        data["id"] = {{ lesson.id }};
        const url = "{{ url_for('admin_lessons.update') }}";
        fetch(url, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        }).then(response => {
            if (response.ok) {
                window.location.href = '/admin/lessons';
            } else {
                alert('Ошибка при обновлении');
            }
        });
    }
</script>
{% endblock %}
