{% extends "admin/base.html" %}

{% block content %}
    <div class="row px-3">
        <div class="col-md-4">
            <div class="card border-secondary border">
                <div class="card-body">
                    <h5 class="card-title fw-bold font-20">Уроки</h5>
                    <p class="card-text">Всего строк: {{ lessons_count }}</p>
                    <a href="{{ url_for("admin_lessons.get_all") }}" class="btn btn-secondary btn-sm">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-secondary border">
                <div class="card-body">
                    <h5 class="card-title fw-bold font-20">Категории</h5>
                    <p class="card-text">Всего строк: {{ categories_count }}</p>
                    <a href="{{ url_for("admin_categories.get_all") }}" class="btn btn-secondary btn-sm">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-secondary border">
                <div class="card-body">
                    <h5 class="card-title fw-bold font-20">Сложность</h5>
                    <p class="card-text">Всего строк: {{ levels_count }}</p>
                    <a href="{{ url_for("admin_levels.get_all") }}" class="btn btn-secondary btn-sm">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-secondary border">
                <div class="card-body">
                    <h5 class="card-title fw-bold font-20">Слова</h5>
                    <p class="card-text">Всего строк: {{ words_count }}</p>
                    <a href="{{ url_for("admin_words.get_all") }}#" class="btn btn-secondary btn-sm">Перейти</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
